# Project exclude paths
/.gradle/
/build/
/.idea/
/build/classes/java/main/
/.idea/libraries/Gradle__com_electronwill_night_config_core_3_6_4.xml
/.idea/libraries/Gradle__com_electronwill_night_config_toml_3_6_4.xml
/.idea/libraries/Gradle__com_github_oshi_oshi_core_6_2_2.xml
/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_3_0_2.xml
/.idea/libraries/Gradle__com_google_code_gson_gson_2_10.xml
/.idea/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_11_0.xml
/.idea/libraries/Gradle__com_google_guava_failureaccess_1_0_1.xml
/.idea/libraries/Gradle__com_google_guava_guava_31_1_jre.xml
/.idea/libraries/Gradle__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
/.idea/libraries/Gradle__com_google_j2objc_j2objc_annotations_1_3.xml
/.idea/libraries/Gradle__com_ibm_icu_icu4j_71_1.xml
/.idea/libraries/Gradle__com_machinezoo_noexception_noexception_1_7_1.xml
/.idea/libraries/Gradle__com_mojang_authlib_4_0_43.xml
/.idea/libraries/Gradle__com_mojang_blocklist_1_0_10.xml
/.idea/libraries/Gradle__com_mojang_brigadier_1_1_8.xml
/.idea/libraries/Gradle__com_mojang_datafixerupper_6_0_8.xml
/.idea/libraries/Gradle__com_mojang_logging_1_1_1.xml
/.idea/libraries/Gradle__com_mojang_patchy_2_2_10.xml
/.idea/libraries/Gradle__com_mojang_text2speech_1_17_9.xml
/.idea/libraries/Gradle__commons_codec_commons_codec_1_15.xml
/.idea/libraries/Gradle__commons_io_commons_io_2_11_0.xml
/.idea/libraries/Gradle__commons_logging_commons_logging_1_2.xml
/.idea/libraries/Gradle__cpw_mods_bootstraplauncher_1_1_2.xml
/.idea/libraries/Gradle__cpw_mods_modlauncher_10_0_9.xml
/.idea/libraries/Gradle__cpw_mods_securejarhandler_2_1_10.xml
/.idea/libraries/Gradle__dev_architectury_architectury_mixin_remapper_service_2_0_9.xml
/.idea/libraries/Gradle__dev_architectury_architectury_naming_service_2_0_9.xml
/.idea/libraries/Gradle__dev_architectury_mcp_annotations_2_0_9.xml
/.idea/libraries/Gradle__dev_architectury_mixin_patched_0_8_5_12.xml
/.idea/libraries/Gradle__io_github_juuxel_unprotect_2_0_2.xml
/.idea/libraries/Gradle__io_github_juuxel_unprotect_modlauncher_2_0_2.xml
/.idea/libraries/Gradle__io_github_llamalad7_mixinextras_forge_0_4_1.xml
/.idea/libraries/Gradle__io_netty_netty_buffer_4_1_82_Final.xml
/.idea/libraries/Gradle__io_netty_netty_codec_4_1_82_Final.xml
/.idea/libraries/Gradle__io_netty_netty_common_4_1_82_Final.xml
/.idea/libraries/Gradle__io_netty_netty_handler_4_1_82_Final.xml
/.idea/libraries/Gradle__io_netty_netty_resolver_4_1_82_Final.xml
/.idea/libraries/Gradle__io_netty_netty_transport_4_1_82_Final.xml
/.idea/libraries/Gradle__io_netty_netty_transport_classes_epoll_4_1_82_Final.xml
/.idea/libraries/Gradle__io_netty_netty_transport_native_epoll_linux_aarch_64_4_1_82_Final.xml
/.idea/libraries/Gradle__io_netty_netty_transport_native_epoll_linux_x86_64_4_1_82_Final.xml
/.idea/libraries/Gradle__io_netty_netty_transport_native_unix_common_4_1_82_Final.xml
/.idea/libraries/Gradle__it_unimi_dsi_fastutil_8_5_9.xml
/.idea/libraries/Gradle__net_fabricmc_dev_launch_injector_0_2_1_build_8.xml
/.idea/libraries/Gradle__net_java_dev_jna_jna_5_12_1.xml
/.idea/libraries/Gradle__net_java_dev_jna_jna_platform_5_12_1.xml
/.idea/libraries/Gradle__net_jodah_typetools_0_6_3.xml
/.idea/libraries/Gradle__net_minecraft_forge_1_20_1_47_4_13_minecraft_merged_1_20_1_loom_mappings_1_20_1_layered_hash_40359_v2_forge_1_20_1_47_4_13.xml
/.idea/libraries/Gradle__net_minecraftforge_0d7bc7711d7ad78104f372cbc5637e32040dcc0089002a7ed9ac5be16d72c82d_fmlloader_1_20_1_47_4_13.xml
/.idea/libraries/Gradle__net_minecraftforge_accesstransformers_8_0_4.xml
/.idea/libraries/Gradle__net_minecraftforge_coremods_5_2_4.xml
/.idea/libraries/Gradle__net_minecraftforge_eventbus_6_0_5.xml
/.idea/libraries/Gradle__net_minecraftforge_fmlcore_1_20_1_47_4_13.xml
/.idea/libraries/Gradle__net_minecraftforge_fmlearlydisplay_1_20_1_47_4_13.xml
/.idea/libraries/Gradle__net_minecraftforge_forgespi_7_0_1.xml
/.idea/libraries/Gradle__net_minecraftforge_JarJarFileSystems_0_3_19.xml
/.idea/libraries/Gradle__net_minecraftforge_JarJarMetadata_0_3_19.xml
/.idea/libraries/Gradle__net_minecraftforge_JarJarSelector_0_3_19.xml
/.idea/libraries/Gradle__net_minecraftforge_javafmllanguage_1_20_1_47_4_13.xml
/.idea/libraries/Gradle__net_minecraftforge_lowcodelanguage_1_20_1_47_4_13.xml
/.idea/libraries/Gradle__net_minecraftforge_mclanguage_1_20_1_47_4_13.xml
/.idea/libraries/Gradle__net_minecraftforge_mergetool_api_1_1_5.xml
/.idea/libraries/Gradle__net_minecraftforge_srgutils_0_4_11.xml
/.idea/libraries/Gradle__net_minecraftforge_unsafe_0_2_0.xml
/.idea/libraries/Gradle__net_minecrell_terminalconsoleappender_1_2_0.xml
/.idea/libraries/Gradle__net_minecrell_terminalconsoleappender_1_3_0.xml
/.idea/libraries/Gradle__net_sf_jopt_simple_jopt_simple_5_0_4.xml
/.idea/libraries/Gradle__org_abego_treelayout_org_abego_treelayout_core_1_0_3.xml
/.idea/libraries/Gradle__org_antlr_antlr4_4_9_1.xml
/.idea/libraries/Gradle__org_antlr_antlr4_runtime_4_9_1.xml
/.idea/libraries/Gradle__org_antlr_antlr_runtime_3_5_2.xml
/.idea/libraries/Gradle__org_antlr_ST4_4_3.xml
/.idea/libraries/Gradle__org_apache_commons_commons_compress_1_21.xml
/.idea/libraries/Gradle__org_apache_commons_commons_lang3_3_12_0.xml
/.idea/libraries/Gradle__org_apache_httpcomponents_httpclient_4_5_13.xml
/.idea/libraries/Gradle__org_apache_httpcomponents_httpcore_4_4_15.xml
/.idea/libraries/Gradle__org_apache_logging_log4j_log4j_api_2_19_0.xml
/.idea/libraries/Gradle__org_apache_logging_log4j_log4j_core_2_19_0.xml
/.idea/libraries/Gradle__org_apache_logging_log4j_log4j_slf4j2_impl_2_19_0.xml
/.idea/libraries/Gradle__org_apache_maven_maven_artifact_3_8_5.xml
/.idea/libraries/Gradle__org_checkerframework_checker_qual_3_12_0.xml
/.idea/libraries/Gradle__org_codehaus_plexus_plexus_utils_3_3_0.xml
/.idea/libraries/Gradle__org_glassfish_javax_json_1_0_4.xml
/.idea/libraries/Gradle__org_jetbrains_annotations_26_0_2.xml
/.idea/libraries/Gradle__org_jline_jline_reader_3_12_1.xml
/.idea/libraries/Gradle__org_jline_jline_reader_3_20_0.xml
/.idea/libraries/Gradle__org_jline_jline_terminal_3_12_1.xml
/.idea/libraries/Gradle__org_jline_jline_terminal_3_20_0.xml
/.idea/libraries/Gradle__org_joml_joml_1_10_5.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_3_3_1.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_3_3_2.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_glfw_3_3_1.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_glfw_3_3_2.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_glfw_natives_windows_3_3_2.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_glfw_natives_windows_arm64_3_3_2.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_glfw_natives_windows_x86_3_3_2.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_jemalloc_3_3_1.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_jemalloc_3_3_2.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_jemalloc_natives_windows_3_3_2.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_jemalloc_natives_windows_arm64_3_3_2.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_jemalloc_natives_windows_x86_3_3_2.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_natives_windows_3_3_2.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_natives_windows_arm64_3_3_2.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_natives_windows_x86_3_3_2.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_openal_3_3_1.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_openal_3_3_2.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_openal_natives_windows_3_3_2.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_openal_natives_windows_arm64_3_3_2.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_openal_natives_windows_x86_3_3_2.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_opengl_3_3_1.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_opengl_3_3_2.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_opengl_natives_windows_3_3_2.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_opengl_natives_windows_arm64_3_3_2.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_opengl_natives_windows_x86_3_3_2.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_stb_3_3_1.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_stb_3_3_2.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_stb_natives_windows_3_3_2.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_stb_natives_windows_arm64_3_3_2.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_stb_natives_windows_x86_3_3_2.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_tinyfd_3_3_1.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_tinyfd_3_3_2.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_tinyfd_natives_windows_3_3_2.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_tinyfd_natives_windows_arm64_3_3_2.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_tinyfd_natives_windows_x86_3_3_2.xml
/.idea/libraries/Gradle__org_openjdk_nashorn_nashorn_core_15_4.xml
/.idea/libraries/Gradle__org_ow2_asm_asm_9_8.xml
/.idea/libraries/Gradle__org_ow2_asm_asm_analysis_9_8.xml
/.idea/libraries/Gradle__org_ow2_asm_asm_commons_9_8.xml
/.idea/libraries/Gradle__org_ow2_asm_asm_tree_9_8.xml
/.idea/libraries/Gradle__org_ow2_asm_asm_util_9_8.xml
/.idea/libraries/Gradle__org_slf4j_slf4j_api_2_0_1.xml
/.idea/libraries/Gradle__org_slf4j_slf4j_simple_1_7_30.xml
/.idea/libraries/Gradle__remapped_com_simibubi_create_create_1_20_1_471fa952_slim_6_0_7_281.xml
/.idea/libraries/Gradle__remapped_com_tterrag_registrate_Registrate_471fa952_MC1_20_1_3_3.xml
/.idea/libraries/Gradle__remapped_curse_maven_architectury_api_419699_471fa952_5137938.xml
/.idea/libraries/Gradle__remapped_curse_maven_cloth_config_348521_471fa952_5729105.xml
/.idea/libraries/Gradle__remapped_curse_maven_createutilities_881586_471fa952_6701786.xml
/.idea/libraries/Gradle__remapped_curse_maven_immersive_engineering_231951_471fa952_6206989.xml
/.idea/libraries/Gradle__remapped_curse_maven_power_grid_1321420_471fa952_7999913.xml
/.idea/libraries/Gradle__remapped_curse_maven_roughly_enough_items_310111_471fa952_5846923.xml
/.idea/libraries/Gradle__remapped_dev_engine_room_flywheel_flywheel_forge_1_20_1_471fa952_1_0_5.xml
/.idea/libraries/Gradle__remapped_dev_engine_room_flywheel_flywheel_forge_api_1_20_1_471fa952_1_0_5.xml
/.idea/libraries/Gradle__remapped_net_createmod_ponder_Ponder_Forge_1_20_1_471fa952_1_0_91.xml
/.idea/modules/com.frostybadhalo.unife.unife.main.iml
/.idea/modules/unife.iml
/.idea/modules/unife.test.iml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_09_05_2026_17_40_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_09_05_2026_17_40_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_09_05_2026_17_40__Changes_.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/run/.pg-native/libpowergridNative5.dll
/run/.pg-native/libpowergridNative7.dll
/run/config/jade/hide-blocks.json
/run/config/jade/hide-entities.json
/run/config/jade/jade.json
/run/config/jade/plugins.json
/run/config/jade/sort-order.json
/run/config/roughlyenoughitems/collapsible.json5
/run/config/roughlyenoughitems/config.json5
/run/config/roughlyenoughitems/favorites.json5
/run/config/roughlyenoughitems/hints.json
/run/config/roughlyenoughitems/pinyin.properties
/run/config/roughlyenoughitems/pinyin_double.properties
/run/config/create-client.toml
/run/config/create-common.toml
/run/config/flywheel-client.toml
/run/config/fml.toml
/run/config/forge-client.toml
/run/config/immersiveengineering-client.toml
/run/config/immersiveengineering-common.toml
/run/config/ponder-client.toml
/run/config/powergrid-client.toml
/run/config/powergrid-common.toml
/run/crash-reports/crash-2026-03-13_20.15.38-client.txt
/run/crash-reports/crash-2026-03-13_20.24.03-client.txt
/run/crash-reports/crash-2026-03-13_20.34.22-client.txt
/run/crash-reports/crash-2026-03-13_20.35.07-client.txt
/run/crash-reports/crash-2026-03-13_20.39.12-client.txt
/run/crash-reports/crash-2026-03-13_20.47.03-client.txt
/run/crash-reports/crash-2026-03-14_16.43.38-client.txt
/run/crash-reports/crash-2026-03-14_16.56.15-client.txt
/run/crash-reports/crash-2026-03-14_19.17.35-client.txt
/run/logs/2026-03-13-1.log.gz
/run/logs/2026-03-13-2.log.gz
/run/logs/2026-03-13-3.log.gz
/run/logs/2026-03-13-4.log.gz
/run/logs/2026-03-13-5.log.gz
/run/logs/2026-03-13-6.log.gz
/run/logs/2026-03-13-7.log.gz
/run/logs/2026-03-13-8.log.gz
/run/logs/2026-03-14-1.log.gz
/run/logs/2026-03-14-2.log.gz
/run/logs/2026-03-14-3.log.gz
/run/logs/2026-03-14-4.log.gz
/run/logs/2026-03-14-5.log.gz
/run/logs/2026-03-14-6.log.gz
/run/logs/2026-03-15-1.log.gz
/run/logs/2026-03-15-2.log.gz
/run/logs/2026-03-15-3.log.gz
/run/logs/2026-03-15-4.log.gz
/run/logs/2026-03-15-5.log.gz
/run/logs/2026-03-15-6.log.gz
/run/logs/2026-03-19-1.log.gz
/run/logs/2026-03-25-1.log.gz
/run/logs/2026-03-25-2.log.gz
/run/logs/2026-03-25-3.log.gz
/run/logs/2026-03-28-1.log.gz
/run/logs/2026-05-08-1.log.gz
/run/logs/2026-05-08-2.log.gz
/run/logs/2026-05-09-1.log.gz
/run/logs/debug.log
/run/logs/debug-1.log.gz
/run/logs/debug-2.log.gz
/run/logs/debug-3.log.gz
/run/logs/debug-4.log.gz
/run/logs/debug-5.log.gz
/run/logs/latest.log
/run/logs/rei.log
/run/logs/rei-issues.log
/run/saves/New World/advancements/380df991-f603-344c-a090-369bad2a924a.json
/run/saves/New World/data/capabilities.dat
/run/saves/New World/data/powergrid_electric_network_data.dat
/run/saves/New World/data/raids.dat
/run/saves/New World/data/random_sequences.dat
/run/saves/New World/data/VoidBatteries.dat
/run/saves/New World/DIM1/data/capabilities.dat
/run/saves/New World/DIM1/data/raids_end.dat
/run/saves/New World/DIM-1/data/capabilities.dat
/run/saves/New World/DIM-1/data/raids.dat
/run/saves/New World/entities/r.0.0.mca
/run/saves/New World/entities/r.0.-1.mca
/run/saves/New World/entities/r.-1.0.mca
/run/saves/New World/entities/r.-1.-1.mca
/run/saves/New World/playerdata/380df991-f603-344c-a090-369bad2a924a.dat
/run/saves/New World/playerdata/380df991-f603-344c-a090-369bad2a924a.dat_old
/run/saves/New World/poi/r.0.0.mca
/run/saves/New World/poi/r.0.-1.mca
/run/saves/New World/poi/r.-1.0.mca
/run/saves/New World/poi/r.-1.-1.mca
/run/saves/New World/region/r.0.0.mca
/run/saves/New World/region/r.0.-1.mca
/run/saves/New World/region/r.-1.0.mca
/run/saves/New World/region/r.-1.-1.mca
/run/saves/New World/serverconfig/create-server.toml
/run/saves/New World/serverconfig/forge-server.toml
/run/saves/New World/serverconfig/immersiveengineering-server.toml
/run/saves/New World/serverconfig/powergrid-server.toml
/run/saves/New World/stats/380df991-f603-344c-a090-369bad2a924a.json
/run/saves/New World/icon.png
/run/saves/New World/level.dat
/run/saves/New World/level.dat_old
/run/saves/New World/session.lock
/run/options.txt
/run/usercache.json
/run/usernamecache.json
